.player-bar {
  background-color: indigo;
  width: 100%;
  height: auto;
  position: absolute;
}

.game-card {
  position: absolute;
  z-index: 1;
  border: 1px solid red;
  width: 10em; height: 15em;
}
