@import 'variables';

$card-size: 9em;

.player-bar {
  background-color: indigo;
  width: 100%;
  height: auto;
  position: absolute;
}

.game-card {
  background-color: white;
  z-index: 1;
  border: 1px solid black;
  border-radius: $radius;
  width: $card-size; height: $card-size + ($card-size / 2);
}
